    </div> <!-- #wrapper -->

    <footer class="container-fluid">
      <small class="copyright pull-right text-muted">
        Fork me on <a href="https://github.com/LeoIannacone/debomatic-webui">github</a>
      </small>
      <small class="info pull-right text-muted"><%= web.debomatic.architecture %> (<%= version %>)</small>
      <div id="status" class="clearfix">
          <span class="label label-default">status:</span>
          <span class="debomatic idle text-muted">Idle</span>
          <span class="debomatic norunning text-danger">Not running</span>
        <ul class="packages list-inline"></ul>
      </div>
    </footer>

    <script src='/socket.io/socket.io.js?<%= version %>'></script>
    <script src='/external_libs/jquery/jquery-1.11.0.min.js'></script>
    <script src="/external_libs/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

    <script>
    var config = <%- JSON.stringify(web) %>

    config.status.className = {}
    config.status.className.build = 'info'
    config.status.className.create = 'warning'
    config.status.className.update = 'default'
    config.status.className.success = 'success'
    config.status.className.fail = 'danger'

    config.status.icons = {}
    config.status.icons.build = 'refresh'
    config.status.icons.create = 'asterisk'
    config.status.icons.update = 'upload'
    config.status.icons.success = 'ok'
    config.status.icons.fail = 'remove'

    config.status.delay = {}
    config.status.delay.remove = 10000
    config.status.delay.fadeOut = 2500

    </script>

    <script src='/javascripts/debug.js?<%= version %>'></script>
    <script src='/javascripts/utils.js?<%= version %>'></script>
    <script src='/javascripts/preferences.js?<%= version %>'></script>
    <script src='/javascripts/page_generic.js?<%= version %>'></script>
    <script src='/javascripts/page_distribution.js?<%= version %>'></script>
    <script src='/javascripts/main.js?<%= version %>'></script>

  </body>
</html>
