<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <title><%= web.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/external_libs/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external_libs/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/external_libs/chartist-js-0.1.11/libdist/chartist.min.css">
    <link rel="stylesheet" href="/external_libs/tablesorter/theme.bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css?<%= version %>">
  </head>

  <body>
    <div id="wrapper" class="container-fluid">
      <nav class="navbar navbar-inverse" role="navigation">
        <div onclick="window.location.href='/'" class="navbar-header home-link">
            <span class="pull-left icon"></span>
            <span class="navbar-brand">Deb-o-Matic <small><%= web.debomatic.architecture %></small></span>
        </div>
        <div class="collapse navbar-collapse">
          <div id="distributions">
            <ul class="nav navbar-nav"></ul>
          </div>
          <div id="pages">
            <ul class="nav navbar-nav pull-right">
              <% if (web.paths.history) { %>
              <li><a href="<%= web.paths.history %>">History</a></li>
              <% } %>
              <% if (web.paths.commands) { %>
              <li><a href="<%= web.paths.commands %>">Commands</a></li>
              <% } %>
              <% if (web.paths.preferences) { %>
              <li><a href="<%= web.paths.preferences %>">Preferences</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
