<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= web.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/external_libs/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external_libs/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  
  <body>
    <div id="wrapper" class="container-fluid">

      <header id="header" onclick="window.location.href='/'">
        <h1><%= web.title %></h1>
        <p class="lead"><%= web.description %></p>
      </header>

      <nav id="distributions" class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Distributions</span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
        </div>
      </nav>

      <%- body %>

    </div> <!-- #wrapper -->
    
    <footer class="container-fluid">
      <small class="copyright pull-right text-muted">
        <%= web.footer %>
      </small>
      <div id="status" class="clearfix">
          <span>status:</span> <span class="idle text-muted">Idle</span>
        <ul class="packages list-inline"></ul>
      </div>
    </footer>

    <script src='//code.jquery.com/jquery-1.7.2.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/external_libs/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <script>
    var config = <%- JSON.stringify(web) %>
    </script>

    <script src='/javascripts/utils.js'></script>
    <script src='/javascripts/page_generic.js'></script>
    <script src='/javascripts/page_distribution.js'></script>
    <script src='/javascripts/main.js'></script>

  </body>
</html>
