<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <script src='//code.jquery.com/jquery-1.7.2.min.js'></script>
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src="/libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src='/javascripts/utils.js'></script>
    <script src='/javascripts/page_distribution.js'></script>
    <script src='/javascripts/main.js'></script>
  </head>
  <body>
    <div class="container-fluid">

      <header >
        <h1><%= title %></h1>
        <p class="lead"><%= description %></p>
      </header>

      <nav id="distributions" class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Distrbutions</span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
        </div>
      </nav>

      <%- body %>

      <footer>
        <%= footer %>
      </footer>

    </div> <!-- .container-fluild -->

  </body>
</html>
